
.container
{
    position: relative;
}
.main_img
{
    background-image:url("main_img.jpg");
    width:100%;
    height:600px;
}
 .text-block
{
    position:absolute;
    bottom:500px;
    width: 100%;
    height: 150px;
    left:0px;
    background-color: black;
    color:white;
    padding-left:58px;
    opacity: 0.6;
    padding-top:12px;
}
.learn
{
    position:absolute;
    bottom:0px;
    left:0px;
    width: 100%;
    height: 150px;
    background-color:yellow;
    color:white;
    padding-left:60px;
    padding-right:424px;
    opacity: 0.6;
    padding-top:30px;
    padding-bottom:30px;
}
.list
{
    position:absolute;
    bottom:150px;
    right:0px;
    width: 100%;
    height:454px;
    background-color:gray;
    color:white;
    font-size:xx-large;
    padding-right:50px;
    opacity: 0.6;
    text-align:right;
    padding-top:78px ;
    padding-bottom:75px ;
    direction:rtl;
}
.address
{
    position:absolute; 
    right:0px;
    bottom:0px;
    width: 100%;
    height:150px;
    background-color:black;
    color:white;
    font-size:x-small;
    padding-right:10px;
    opacity: 0.6;
    text-align:right;
    padding-top:5px ;
    padding-bottom:5px ;
    direction:rtl;

}
.box
{
    width:50px;
    height:10px;
    color:red;
}


 .first
 {
    color:red;
    text-align:left;
 }
 .start
 {
    text-align:left;
    background-color: aqua;
   /* padding-right:10px;
    padding-left: 57px;
    padding-top:25px;
    padding-bottom:25px;*/
 }
 .last_left
 {
 text-align: left;
 background-color: wheat;
 /*padding-right:43px;
 padding-left:72px;
 padding-top:40px;
 padding-bottom:40px;
 margin-left:14px;
 margin-right:395px;*/
 }
 .ourcompany
 {
 color: red;
 }
 .hr
 {
color:red;
width:70%;
height:10%;
 }
 .coded
 {
 background-color:lightskyblue; 
/* padding-right:350px;
 padding-left:61px;
 padding-top:20px;
 padding-bottom:12px;
 margin-left:729px;
 margin-top:-706px;
 margin-right:559px;*/
 }
 .last_right
 {
    background-color:pink;    
 /*padding-right:350px;
 padding-left:61px;
 padding-top:20px;
 padding-bottom:12px;
 margin-left:729px;
 margin-top:0px;
 margin-right:559px;
 margin-bottom: 100px;*/

 }
.second
{
 color:aqua;
 text-align:center;
}
.logo.jpeg
{
    border-radius: 130px;
    height:10px;
    width:10px;
    margin-left:29px;
    transform:rotate(230deg) ;
    margin-left:30px;
    margin-top: 70px;
}




