
.container
{
    position: relative;
}
 .text-block
{
    position:absolute;
    top:-2px;
    left:16px;
    background-color: black;
    color:white;
    padding-left:58px;
    padding-right:560px;
    opacity: 0.6;
    text-align:left;
    padding-top:30px;
    padding-bottom:30px;
}
.box
{
    width:50px;
    height:10px;
    color:red;
}
.list
{
    position:absolute;
    top:-2px;
    right:15px;
    background-color:gray;
    color:white;
    font-size:xx-large;
    padding-left:150px;
    padding-right:60px;
    opacity: 0.6;
    text-align:right;
    padding-top:78px ;
    padding-bottom:75px ;
    direction:rtl;
}
.address
{
    position:absolute; 
    right:15px;
    top:466px;
    background-color:black;
    color:white;
    font-size:x-large;
    padding-left:160px;
    padding-right:73px;
    opacity: 0.6;
    text-align:right;
    padding-top:25px ;
    padding-bottom:15px ;
    direction:rtl;
    margin-top:-10px;

}
.learn
{
    position:absolute;
    top:596px;
    left:16px;
    background-color:yellow;
    color:white;
    padding-left:60px;
    padding-right:424px;
    opacity: 0.6;
    text-align:left;
    padding-top:30px;
    padding-bottom:30px;
 }
 .first
 {
    color:red;
    text-align:left;
 }
 .start
 {
    text-align:left;
    background-color: aqua;
    padding-right:10px;
    padding-left: 57px;
    padding-top:25px;
    padding-bottom:25px;
 }
 .last_left
 {
 text-align: left;
 background-color: wheat;
 padding-right:43px;
 padding-left:72px;
 padding-top:40px;
 padding-bottom:40px;
 margin-left:14px;
 margin-right:395px;
 }
 .ourcompany
 {
 color: red;
 }
 .hr
 {
color:red;
width:70%;
height:10%;
 }
 .logo
 {
 background-color:lightskyblue; 
 padding-right:350px;
 padding-left:61px;
 padding-top:20px;
 padding-bottom:12px;
 margin-left:729px;
 margin-top:-706px;
 margin-right:559px;
 }
 .last_right
 {
  right:10px;  
  text-align:right;  
  padding-right:10px;
  padding-left: 10px;
  padding-top:25px;
  padding-bottom: 25 px;
 }
.second
{
 color:aqua;
 text-align:center;
}




